*{
 margin: 0;
 box-sizing: border-box;
}
h1{
    padding: 20px;
    text-align: center;
    color: red;
    font-size: 32px;
}
ol{
    color: red ;
}
h2{
    padding:20px 5px;
    color: green;
}
p{
    line-height: 20px;
    padding: 20px 10px;
}
b{
    color: red;
    text-shadow: 3px  1px 3px rgb(139, 89, 89);
}
i{
    color: blue;
}
ul{
    color:rgb(104, 61, 61);
}
.li1{
    color: rgb(22, 7, 235);
}
